version: "2.0"

services:
  nginx-num-node:
    container_name: nginx-num-node
    restart: unless-stopped
    image: nginx:1.20
    ports:
      - "443:443"
    volumes:
      - ./cert.pem:/etc/nginx/conf.d/cert.pem
      - ./key.pem:/etc/nginx/conf.d/key.pem
      - ./dhparam.pem:/etc/nginx/dhparam.pem
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - ./mime.types:/etc/nginx/conf.d/mime.types
      - ./.htpasswd:/etc/nginx/.htpasswd
